.projects_header {
    font-size: 3rem;
    margin: 0 0 0 2rem;
}

.projects_grid {
    margin: 1rem 0 0 0;
    width: 85vw;
}

.project {
    display: flex;
    flex-direction: column;
}

.project_header {
    font-size: 6rem;
    margin: 0;
}

.project_subheader {
    color: rgb(126, 126, 126);
}

.project_image {
    border: 5px white solid;
    max-width: 95%;
}

.projects_link {
    margin: 0 1rem;
    background: white;
    color: black;
    text-decoration: none;
}

//Project Label
.project:nth-child(odd) {
    color: black;
}

//Project Box
.project:nth-child(even) {
    padding: 2rem;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test_circle {
    height: 20rem;
    width: 20rem;
    background: black;
    border-radius: 50%;
    animation: roll 1200ms, expand 1200ms;
    animation-fill-mode: forwards;
}

@keyframes roll {
    from {
        border-radius: 0%;
        margin: 0;
        transform: rotate(0deg);
    }

    to {
        border-radius: 50%;
        margin: 0 0 0 50rem;
        transform: rotate(360deg);
    }
}

@keyframes shrink {
    from {
        // height: 10rem;
        // width: 10rem;
    }

    to {
        visibility: hidden;
        width: 0;
    }
}

@keyframes expand {
    from {
        // height: 10rem;
        // width: 10rem;
    }

    to {
        width: 70vw;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .projects_container {
        margin: 5rem 0 0 5rem;
        padding: 0 0 8rem 0;
    }

    .projects_grid {
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15rem;
        grid-column-gap: 5rem;
    }

    //Project Label
    .project:nth-child(odd) {
        width: 30vw;
        color: black;
        align-items: flex-end;
        justify-content: flex-end;
    }

    //Project Box
    .project:nth-child(even) {
        width: 49vw;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects_link {
        background: white;
        color: black;
        text-decoration: none;
        padding: 0.5rem 3rem;
        margin: 0 1rem;
    }
}
/* Small screens */
@media only screen and (max-width: 600px) {
    .projects_container {
        padding: 0 0 15rem 0;
    }

    .projects_header {
        background: black;
        color: white;
        text-align: center;
        margin: 10rem 0 0 0;
        padding: 2rem 0;
    }
    
    .projects_grid {
        margin: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    //Project Label
    .project:nth-child(odd) {
        margin: 8rem 0 0 0;
        width: 100vw;
        color: black;
        align-items: center;
    }

    //Project Box
    .project:nth-child(even) {
        width: 80vw;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project_info {
        font-size: 0.8rem;
    }

    .projects_link {
        // background: white;
        // color: black;
        // text-decoration: none;
        padding: 0.2rem 1rem;
    }
}
