.projects_container {
    margin:  5rem 0 0 5rem;
}

.projects_grid {
    margin: 1rem 0 0 0;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15rem;
    grid-column-gap: 5rem;
}

.project_grid:nth-child(odd) {
    background: green;
}

.project {
    display: flex;
    flex-direction: column;
}

.project_header {
    font-size: 6rem;
    margin: 0;
}

.project_subheader {
    color: rgb(126, 126, 126);
}

img {
    border: 5px white solid;
    max-width: 95%;
}

.projects_link {
    background: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 3rem;
    margin: 0 1rem;
}

.project:nth-child(odd) {
    width: 30vw;
    color: black;
    align-items: flex-end;
    justify-content: flex-end;
    // animation: slideDown 1200ms;
}

.project:nth-child(even) {
    width: 50vw;
    padding: 2rem;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // animation: slideUp 1200ms;
}

@keyframes slideUp {
    from {
        opacity: 0;
        margin: 10rem 0 0 0;
    }

    to {
        opacity: 1;
        margin: 0;
    }
}

@keyframes slideDown {
    from {
        // opacity: 0;
        margin: 0 0 50rem  0;
    }

    to {
        // opacity: 1;
        margin: 0;
    }
}

.test_circle {
    height: 20rem;
    width: 20rem;
    background: black;
    border-radius: 50%;
    animation: roll 1200ms, expand 1200ms;
    animation-fill-mode: forwards;
}

@keyframes roll {
    from {
        border-radius: 0%;
        margin: 0;
        transform: rotate(0deg);
    }

    to {
        border-radius: 50%;
        margin: 0 0 0 50rem;
        transform: rotate(360deg);
    }
}

@keyframes expand {
    from {
        // height: 10rem;
        // width: 10rem;
    }

    to {
        height: 40rem;
        width: 40rem;
    }
}
