.main {
    text-align: center;
    display: flex;
    margin: 5rem 10rem;
}

.main_header {
    margin: 0;
    font-size: 10rem;
}

.main_blurb {
    text-align: start;
}

.dummy_image {
    width: 500px;
    height: 500px;
    border-radius: 50%  ;
    background: black;
}
