.navbar {
    position: fixed;
    background: grey;
    width: 0;
    transition: width 200ms;
    z-index: 4;
}

.nav_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav_item {
    width: 100%;
}

.nav_item:hover {
    background: rgb(95, 95, 95);
}

.nav_link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: none;
}

.link_text {
    visibility: hidden;
    margin: 0 0 0 1rem;
}

.burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 5rem;
    z-index: 3;

    .burger_bar {
        margin: 0.5rem 0;
        height: 0.5rem;
        background: black;
        border-radius: 1em;
    }

    .burger_bar:nth-child(1) {
        width: 100%;
    }

    .burger_bar:nth-child(2) {
        width: 30%;
        transition: ease-in 300ms;
    }

    .burger_bar:nth-child(3) {
        width: 50%;
        transition: ease-in 300ms;
    }
}

.burger:hover .burger_bar {
    width: 100%;
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        height: 100vh;
    }

    .navbar_open {
        width: 16rem;
        border-right: 1px solid black;

        .link_text {
            visibility: visible;
            transition: visibility 10000ms;
        }

        #nav_close_btn:first-child {
            background: white;
            color: black;
            justify-content: flex-end;
            padding: 0 2rem 0 0;
        }

        #nav_close_btn:hover {
            background: black;
            color: white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .burger {
        display: none;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        background: rgb(95, 95, 95);
    }

    .nav_list {
        flex-direction: row;
    }

    .nav_link {
        font-size: 1rem;
        justify-content: center;
        color: rgb(231, 230, 230);
    }

    .link_text {
        visibility: visible;
        margin: 0;
        transform: rotate(-40deg);
    }

    .nav_item:hover {
        background: rgb(31, 31, 31);
        border: solid 1px white;
    }

    .nav_item:first-child {
        display: none;
    }
}
