.sidebar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background: rgb(165, 165, 165);
    width: 100vh;
    height: 100%;
    transform-origin: top right;
    top: 0;
    right: 4rem;
    transform: rotate(-90deg);
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        transform: rotate(0deg);
        width: 100vw;
        height: 5vh;
        right: 0;
        font-size: 0.6rem;
    }
}
