$bgPrimary: #cccccc;
$bgSecondary: #5f5f5f;
$bgDark: #414141;
$bgLight: #a5a5a5;
$bgWhite: #ffffff;
$fontPrimary: #000000;
$fontSecondary: #7e7e7e;
$fontWhite: #e7e6e6;
$colorOne: #ff0000;
$colorTwo: #0000ff;
$colorThree: #008000;
$colorFour: #ffc0cb;

.sidebar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background: $bgLight;
    width: 100vh;
    height: 100%;
    transform-origin: top right;
    top: 0;
    right: 4rem;
    transform: rotate(-90deg);
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        transform: rotate(0deg);
        width: 100vw;
        height: 5vh;
        right: 0;
        font-size: 0.6rem;
    }
}
