.footer {
    background: #cccccc;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1;
}

.icon_container {
    font-size: 3rem;
    padding: 2rem 10rem 2rem 0;
}

.social_icon {
    margin: 0 1rem;
    color: black;
}